:root {
  --primaryGray: #d9d9d9;
  --lightPrimaryGray: #e3e3e3;
  --secondaryGray: #d9d9d9aa;
  --lightSecondaryGray: #e3e3e3aa;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 1rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

#app {
  max-width: 80%;
}

@media (max-width: 30rem) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.btn {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem;
}

.btn:hover {
  cursor: pointer;
}

.btnPrimary {
  background-color: var(--primaryGray);
}

.btnPrimary:hover {
  background-color: var(--lightPrimaryGray);
}

.btnSecondary {
  background-color: var(--secondaryGray);
  border: none;
  padding: 1rem 2rem;
}

.btnSecondary:hover {
  background-color: var(--lightSecondaryGray);
}

.btnTertiary {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem 0.7rem;
}

.btnTertiary:hover {
  background-color: var(--lightSecondaryGray);
}

fieldset {
  border: 1px solid black;
}

legend {
  font-weight: bold;
}

label {
  margin-right: 1rem;
}

input {
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
}
